<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VimeoVideoDownloader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>695623201EC0AD05007575C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>695623341EC0AD06007575C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6956233F1EC0AD06007575C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
